.no-input{
    margin-bottom: 25px;
}
.choice-button{
    margin-left: 10px;
    margin-right: 10px;
}
.saved-palettes-list{
    margin: 20px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    justify-items: center;
}
article{
    position: relative;
    padding: 20px;
    width: calc(100% - 30px);
    max-width: calc((100vh - 252px) / 0.915);
    border: 1px solid white;
}
article:hover{
    border: 1px solid gray;
    border-radius: 22px;
    z-index: 2;
}
.saved-palette{
    width: 50%;
    height: 0;
    padding-top: 30.5%;
}
.cross{
    position: absolute;
    right: 20px;
    top: 20px;
}
article .color-info{
    position: absolute;
    top: 20px;
    left: 55%;
}
article .color-info .name{
    font-size: 24px;
}
article .likes{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 55%;   
    display: flex;
    align-items: center;
}

@media screen and (max-width:600px){
    .saved-palettes-list{
        grid-template: repeat(6, 1fr) / 1fr;
        margin: 0;
    }
    article{
        border: none;
        border-radius: 0;
        padding: 10px 0;
        height: calc(55vw + 80px);
        max-width: none;
    }
    article:hover{
        border: none;
    }
    .saved-palette{
        width: 90%;
        height: 0;
        padding-top: 55%;
    }
    .cross{
        right: 0px;
        top: 5px;
    }
    article .color-info{
        top: auto;
        bottom: 20px;
        left: 10px;
    }
    article .likes{
        left: auto;
        bottom: 55px;
        right: 10px;
    }
}
